* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: ghostwhite;
}

#title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
}

#hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
  /* linear gradient with red and green smoothly */
}

#dealer-hand {
    display: flex;
    flex-direction: row;
}

#dealer-hand img {
    width: 100px;
    height: 150px;
    margin: 0 0.5rem;
}

#player-hand {
    display: flex;
    flex-direction: row;
}

#player-hand img {
    width: 100px;
    height: 150px;
    margin: 0 0.5rem;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hit-button {
    margin: 1rem 0.5rem;
    background-color: red;
}

#stand-button {
    margin: 1rem 0.5rem;
    background-color: lime;
}

#betting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bet-button {
    margin: 1rem 0.5rem;
    background-color: blue;
}

#bet-input-field {
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: #f5f5f5;
}

::-webkit-input-placeholder {
    text-align: center;
  }

#play-again-button {
    margin: 1rem 0.5rem;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
}

button:hover {
    background-color: #e5e5e5;
}
