/* @media screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    #title {
        font-size: 2.5rem;
    }

    #dealer-hand img, #player-hand img {
        width: 80px;
        height: 120px;
    }

    #dealer-number, #player-number {
        font-size: 1.5rem;
    }

    #hit-button, #stand-button, #bet-button {
        font-size: 1.5rem;
    }

    #player-balance, #bet-number {
        font-size: 1.5rem;
    }

    #bet-input-field {
        font-size: 1rem;
    }
} */

@keyframes moveInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(0)
    }
    100% {
        transform: translateY(-100%)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes breathing {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.1);
    }
  
    60% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1);
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.1rem;
}

#title {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin: 25rem 0; /* set later to 1 during gameplay in js */
    color: rgb(199, 43, 43);
    letter-spacing: .5rem;
    animation: breathing 5s ease-out infinite normal;
}

#hero-container {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: .5rem;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    color: white;
}

#dealer-hand {
    display: flex;
    flex-direction: row;

}

#dealer-hand img {
    width: 100px;
    height: 150px;
    margin: 0 0.5rem;
}

#hidden-card {
    animation: moveInLeft 2s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    opacity: 1;
}

#dealer-number {
    color: red;
}

.dealer-card {
    animation: moveInRight 2s ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    opacity: 1;
}

#player-number {
    color: lightseagreen;
}   

.player-card-one {
    animation: moveInLeft 2s ease-in-out;
    animation-delay: .5s;
    animation-fill-mode: backwards;
    opacity: 1;
}

.player-card-two {
    animation: moveInRight 2s ease-in-out;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    opacity: 1;
}

#dealer-number, #player-number {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

#player-hand {
    display: flex;
    flex-direction: row;
}

#player-hand img {
    width: 100px;
    height: 150px;
    margin: 0 0.5rem;
}

#dealer-hand, #player-hand {
    animation: breathing 5s linear infinite normal;
    animation-delay: 4s;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    padding-bottom: 2rem;
    top: 98%;
}

#hit-button {
    margin: 1rem 0.5rem;
    background-color: rgb(185, 10, 10);
    font-size: 2rem;
    letter-spacing: .2rem;
    animation: fadeIn 3.25s ease-in-out;
    animation: moveInLeft 2s ease-in-out;
}

#stand-button {
    margin: 1rem 0.5rem;
    background-color: forestgreen;
    font-size: 2rem;
    letter-spacing: .2rem;
    animation: fadeIn 3.25s ease-in-out;
    animation: moveInRight 1.5s ease-in-out;
}

#game-log-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 95%;
    color: white;
}

#betting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -14rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#player-balance {
    font-size: 2rem;
    margin: 1rem 0;
    color: lime;
}

#bet-number {
    font-size: 2rem;
    margin: 1rem 0;
    color: lime;
}

#bet-button {
    margin: 1rem 0.5rem;
    background-color: blue;
    font-size: 2rem;
    letter-spacing: .2rem;
}

#bet-input-field {
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: #f5f5f5;
    text-align: center;
    color: forestgreen;
}

::-webkit-input-placeholder {
    text-align: center;
    color: forestgreen;
  }

#play-again-button {
    margin: 1rem 0.5rem;
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 1;
    animation: fadeIn 1s ease-in-out;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: white;
    cursor: pointer;
    transition-duration: .4s;
}

#bet-button:hover {
   background-color: limegreen;
}

#hit-button:hover {
    background-color: red;
}

#stand-button:hover {
    background-color: green;
}

#play-again-button:hover {
    background-color: rgb(186, 186, 6);
}
